/* styles.css */

#window{
    background-color: #D4EEFF; 
}

#header-event-box {
    color: #FFFFFF; 
    background-color: #288AAF; 
}

#weather-dashboard-label {
    font-size: 27px;
    font-weight: bold;
}

#city-label {
    font-size: 27px;
    font-weight: bold;
}

#city-entry {
    font-size: 20px;
}

#location-button{
    font-size: 20px;
    background-image: linear-gradient(#787B7D, #787B7D); 
    color: #FFFFFF; 
}

#search-button {
    font-size: 20px;
    background-image: linear-gradient(#288AAF, #288AAF); 
    color: #FFFFFF; 
}

#forecast-box {
    background-color: #ADD8E6;
}

#weather-box {
    background-color: #288AAF; 
    border-radius: 5px;
}

.label {
    font-size: 22px;
    padding: 2px;
    color: #FFFFFF; 
}

#entry {
    font-size: 14px;
    margin: 5px;
}

#button {
    background-color: #FFFFFF; 
    color: #000000; 
    font-weight: bold;
    margin: 5px;
}

#forecast-label{
    font-size: 27px;
    font-weight: bold;
}

#forecast-box{
    background-color: #787B7D; 
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: #FFFFFF;
}

#city-weather-label{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.forecast-weather-label{
    text-decoration: underline;
    font-weight: bold;
}